<!DOCTYPE html>
<html ng-app="checkbox">
<head>
    <title>checkbox</title>
</head>
<link rel="stylesheet" type="text/css" href="../dist/static/css/check-box.css">
<script src="../lib/angular.min.js"></script>
<script src="../dist/angular-checkbox.min.js"></script>
<script src="controller/checkboxCtrl.js"></script>
<style type="text/css">

</style>
<body ng-controller="checkboxCtrl">
    <ul>
        <label>
          <check-all checkboxer="checkboxer"></check-all>全选</label>
        <li ng-repeat="item in list">
            <label>
                <check-item checkboxer="checkboxer" item="item" ng-disabled="item.status"></check-item>
                {{ item.name }}
            </label>
        </li>
    </ul>
    <p>
        <button ng-click="doClick()">Get items</button>
    </p>
    <p>checkAll: {{ checkboxer.checkAll }}</p>
    <p><button ng-disabled="checkboxer.hasNoChecked">Is No Checked</button></p>
    <p>
        checked:
        {{ selectedItems }}
    </p>
</body>
</html>