<!DOCTYPE html>
<html ng-app="checkbox">
<head>
    <title>checkbox</title>
</head>
<script src="../lib/angular.min.js"></script>
<script src="controller/checkboxCtrl.js"></script>
<body ng-controller="checkboxCtrl">
    <ul>
        <label><input type="checkbox" name="all" ng-model="checkAll" check-all>全选</label>
        <li ng-repeat="item in list">
            <input type="checkbox" ng-model="item.checked" check-item ng-disabled="item.status">
            <label>{{ item.name }}</label>
        </li>
    </ul>
</body>
</html>